ConorFoxWebsite/ConorFoxWebsite/Service References/WebServiceReference/WebsiteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConorFoxProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConorFoxProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastActivity" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentForename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="StudentSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Staff">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastActivity" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffForename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StaffSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attendants" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Course" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="EventTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastDateEdited" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUserEdited" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Repeats" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>